asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==3.2.7
idna==3.2
PyJWT==1.7.1
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
twilio==6.63.2
urllib3==1.26.6
